	<div class="panel-heading">
		<h3 class="panel-title">
<?
			if (!Log.closed) {
?>
			<a class="pull-right" href="javascript:void(0)" data-behavior="dismiss" title="Delete">&times;</a>
<?
			}
			if (Log.Project) { 
?>
				<a href="javascript:void(0)" data-id="<?=Log.Project.id?>" data-behavior="project/open"><?=Log.Project.name?></a>
<? 
			} else { 
?>
				<?= Log.host || 'Unknown Origin' ?>
<?
			}
?>
			<? var d = new Date(Log.createdAt) ?> <?= d.toLocaleString() ?>
			<?= Log.child_count ? ' | <span class="badge">'+Log.child_count+'</span>' : '' ?>
		</h3>
	</div>
	<div class="panel-body">
		<pre>
			<?= Log.data ?>
		</pre>
		<?
		if (Log.user_id) {
		?>
		<small><pre>Assigned To: <?= Log.user_id ?></pre></small>
		<?
		}
		?>
	</div>