	<div class="panel-heading">
		<h3 class="panel-title">
			<?
			if (!Log.closed) {
			?>
			<a class="pull-right" href="javascript:void(0)" data-behavior="dismiss" title="Delete">&times;</a>
			<?
			}
			?>
<? 
				if (Log.Site) { 
?>
					<a href="javascript:void(0)" data-id="<?=Log.Site.id?>" data-behavior="project/open"><?=Log.Site.name?></a>
<? 
				} else { 
?>
					<?= Log.host || 'Unknown Origin' ?>
<?
				}
?>
			<? var d = new Date(Log.createdAt) ?> <?= d.toLocaleString() ?>
			<?= Log.child_count ? ' | <span class="badge">'+Log.child_count+'</span>' : '' ?>
		</h3>
	</div>
	<div class="panel-body">
		<pre>
			<?= Log.data ?>
		</pre>
<?
		if (Log.User) {
?>
		<small><pre>Assigned To: <?= Log.User.email ?></pre></small>
<?
		}
?>
	</div>