<?
	var logClasses = {
		error	: 'panel-danger',
		notice	: 'panel-default', 
		warning : 'panel-warning',
		authnet	: 'panel-success',
		info	: 'panel-primary'
	};
?>
<div class="panel log slide-up <?=logClasses[Log.type] || 'panel-default'?>">
	<div class="panel-heading">
		<h3 class="panel-title">
<?
			if (!Log.closed) {
?>
			<a class="pull-right" href="javascript:void(0)" data-behavior="dismiss" title="Delete">&times;</a>
<?
			}
			if (Log.Site) { 
?>
				<a href="javascript:void(0)" data-id="<?=Log.Site.id?>" data-behavior="project/open"><?=Log.Site.name?></a>
<? 
			} else { 
?>
				<?= Log.host || 'Unknown Origin' ?>
<?
			}
?>
			<? var d = new Date(Log.createdAt) ?> <?= d.toLocaleString() ?>
			<?= Log.child_count ? ' | <span class="badge">'+Log.child_count+'</span>' : '' ?>
		</h3>
	</div>
	<div class="panel-body">
		<pre>
			<?= Log.data ?>
		</pre>
		<small>Type: <?=Log.type?> id: <?=Log.id?></small>
		<% sails.Form.create('Log', {'class': 'form-inline', data: Log}) %>
		<% sails.Form.input('User', {options: users, empty: 'Assign To', label: false}) %>
		<% sails.Form.end() %>
	</div>
</div>