########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules./*
/node_modules

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
config/local.js

/node_modules/bcrypt/package.json
/node_modules/bcrypt/node_modules/bindings/package.json
/node_modules/bcrypt/build/Release/obj.target/bcrypt_lib/src/blowfish.o
/node_modules/bcrypt/build/Release/obj.target/bcrypt_lib/src/bcrypt_node.o
/node_modules/bcrypt/build/Release/obj.target/bcrypt_lib/src/bcrypt.o
/node_modules/bcrypt/build/Release/bcrypt_lib.node
/node_modules/bcrypt/build/Release/.deps/Release/obj.target/bcrypt_lib/src/blowfish.o.d
/node_modules/bcrypt/build/Release/.deps/Release/obj.target/bcrypt_lib/src/bcrypt_node.o.d
/node_modules/bcrypt/build/Release/.deps/Release/obj.target/bcrypt_lib/src/bcrypt.o.d
/node_modules/bcrypt/build/Release/.deps/Release/bcrypt_lib.node.d
/node_modules/bcrypt/build/Makefile
/node_modules/bcrypt/build/config.gypi
/node_modules/bcrypt/build/bcrypt_lib.target.mk