<table class="table-bordered table table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>URL</th>
			<tH>Updated</tH>
			<th>Status History</th>
			<th>Status</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<script type="text/template" charset="utf-8" id="SiteRowTemplate">
	<?
		var status = Site.status ? Math.floor(Site.status[Site.status.length-1].code / 100) : 0;
	?>
	<td><?= Site.name ?></thead>
	<td><?= Site.url ?></td>
	<td>
		<?= new Date(Site.status[Site.status.length-1].createdAt).toLocaleString() ?>
	</td>
	<td id="graph-<?-Site.id?>" class="status-graph">

	</td>
	<td>
		<span class="label label-<?- (status == 2 ? 'success' : ( [3,4].indexOf(status) !== -1 ? 'warning' : isNaN(status) ? '' : 'danger' ) ) ?>">
			<?= Site.status ? Site.status[Site.status.length - 1].code : 'N/A' ?>
		</span>
	</td>
	<td>
		<a href="/sites/update/<?= Site.id ?>" class="btn btn-xs btn-primary">edit</a>
	</td>
	
</script>

<script type="text/javascript" charset="utf-8">

require([

	'jquery',
	'underscore',
	'collections/site',
	'views/siterow'

], function($, _, SiteCollection, SiteRowView) {

		var socket = io.connect(),
			sites = new SiteCollection();
			
		sites.on('reset', function(collection) {
			_.each(collection.models, function(site) {
				site.view = new SiteRowView({template: _.template($('#SiteRowTemplate').html(), null, {variable: 'Site'}), model: site});
				site.view.$el.appendTo('tbody');
			});
		});
		
		socket.on('connect', function socketConnected() {
			socket.on('message', function messageReceived(message) {
				if (message.verb === 'create') {
					sites.add(message.data)
				} else if (message.verb === 'update') {
					if (sites.get(message.data.id)) {
						sites.get(message.data.id).set(message.data)
					}
				}
			});
		});
		
		sites.reset(<%- JSON.stringify(sites) %>);
		socket.get('/sites');

	});
</script>